
		
@import "iconos.styl"


$azul = #3b5998
$celeste = #0aaeee
$verde = #bed948
$negro = #1f1f1f


html, body
	background url("../img/bg_motivo.jpg")
	font-family 'Droid Sans', sans-serif
	font-size 14px
	
	

.btn
	background c0c0c0
	padding 1em
	//display block
	//width 20%
	font-size 1.6em
	
	text-shadow 0 1px 2px rgba(0, 0, 0, 0.5)
	color #fff
	text-decoration none
.btn_verde
	background $verde
.btn_azul
	background $azul
.btn_celeste
	background $celeste

.inner
	margin 0 auto
	width 960px
p
	line-height 1.5em



header
	background #FFF
	height 75px
	-webkit-box-shadow inset 0 1px 0 rgba(255,255,255,.2), 0 1px 5px rgba(0,0,0,.5)
	-moz-box-shadow inset 0 1px 0 rgba(255,255,255,.2), 0 1px 5px rgba(0,0,0,.5)
	box-shadow inset 0 1px 0 rgba(255,255,255,.2), 0 1px 5px rgba(0,0,0,.5)
	position relative

	
	ul 
		margin 0
		padding 0 
			
	#logo
		display inline-block
		width 100px
	#idiomas
		display inline-block
		vertical-align top
		width 100px
		border-left 1px solid $negro
		margin 8px 0 0 0
		padding .5em
		

		ul
			list-style none

			li 
				padding 0.2em

				a 
					text-decoration none
					color $negro
				a:hover
					text-decoration underline
					color $verde
	#menu
		float right
		margin-top 20px

		ul 
			li 
				margin-right 1em
				border-radius 15px
				display inline-block
				vertical-align top

				a 
					color $negro
					font-size 16px
					text-transform uppercase
					text-decoration none
					display block
					padding .5em

			.current, li:hover
				background #ebe9e9

#banner-home
	height 549px
	//margin-top 16px
	width 100%
	
	.slide

		background-attachment fixed
		background-position center top
		background-repeat no-repeat
		background-size cover
		height 100%
		text-align center
		width 100%
		//background-image url('../img/banner-home.jpg')
		/*background-attachment fixed
		background-color  #000
		background-position center  
		background-repeat  no-repeat
		background-size cover
		height 549px
		text-align center*/

	
	
	.content-banner
		padding-top 100px
		text-align center
		h1
			color #fff
			font-size 4em
			font-weight 700
			margin-top 0
			text-transform uppercase
			text-shadow 0 2px 3px rgba(0, 0, 0, 0.5)
		h3
			color #fff
			font-size 1.5em
			font-weight 400
			margin-top 0
			text-shadow 0 2px 3px rgba(0, 0, 0, 0.5)

		

		a 
			margin 60px auto
			display block
			width 20%

#banner-servicios
	background-color  #bed748
	height 100px
	text-align center

	h1
		margin 0
		color #fff
		padding-top 10px
		font-size 4em
		font-weight 700
		margin-top 0
		text-transform uppercase
		text-shadow 0 2px 3px rgba(0, 0, 0, 0.5)


#content
	min-height 500px
	margin-top 20px
	margin-bottom 30px

	ul li
		line-height 1.5em
	h1
		color $azul
	td 
		border 1px solid #000000
		padding 7px

	#tours,	#rates,	#location
		display inline-block
		vertical-align top
		cursor pointer
	#tours:hover,#rates:hover,#location:hover
		background #b1b1b1

	.descripcion-tours,.descripcion-rates,.descripcion-locations
		display none

	.item-page
		padding 30px
		background #fff 
		border 1px solid #c2c2c2

	.content-home
		text-align center

		h3
			
			font-size 2em
			font-weight 400
			margin-top 90px
			margin-bottom 0
		h3 + p 
			font-size 1.3em
			margin-top 0

		.services-home
			margin-top 90px
			

			a 
				display inline-block
				margin 5px
				vertical-align top
				height 177px
				width 177px
				-webkit-box-shadow inset 0 1px 0 rgba(255,255,255,.2), 0 1px 5px rgba(0,0,0,.5)
				-moz-box-shadow inset 0 1px 0 rgba(255,255,255,.2), 0 1px 5px rgba(0,0,0,.5)
				box-shadow inset 0 1px 0 rgba(255,255,255,.2), 0 1px 3px rgba(0,0,0,.5)
				background-image -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #F9F9F8))
				background-image -webkit-linear-gradient(top, #FFFFFF 0%, #F9F9F8 100%)
				background-image -moz-linear-gradient(top, #FFFFFF 0%, #F9F9F8 100%)
				background-image linear-gradient(top, bottom, #FFFFFF 0%, #F9F9F8 100%)
				border 1px solid #9fafcd
				border-radius 10px
				text-decoration none
				padding-top 30px


				.icon-home,.icon-airplane, .icon-bookmarks
					font-size 3em
					color #000
					margin-bottom 20px
					display block
				.icon-rancho
					background url("../img/hospedaje.png")  no-repeat top center
					display block
					height 65px
				.icon-viajes
					background url("../img/viajes.png")  no-repeat top center
					display block
					height 65px
				.icon-eventos
					background url("../img/eventos.png")  no-repeat top center
					display block
					height 65px	
				.title
					font-size 1.5em
					color #000
					display block
					margin-bottom 10px

				.description
					font-size 0.9em
					display block
					color #838282
	article
		margin-top 20px
		clear both
		
		h1
			margin 0
			font-size 2em
		h1+h3
			margin 0
			font-size 1em
		
			

		p>img
			float left
			margin-right 10px

 

			


footer
	background #FFF
	min-height 150px
	-webkit-box-shadow inset 0 1px 0px rgba(255,255,255,.2), 0 -1px 2px rgba(0,0,0,.5)
	-moz-box-shadow inset 0 1px 0px rgba(255,255,255,.2), 0 -1px 2px rgba(0,0,0,.5)
	box-shadow inset 0 1px 0px rgba(255,255,255,.2), 0 -1px 2px rgba(0,0,0,.5)
	position relative
	


	#menu-footer
		display block
		margin 0 auto
		text-align center
		padding-top 10px

		ul 
			li 
				display inline-block
				margin-right 1em
				//border-radius 15px

				a 
					color $negro
					font-size 16px
					text-transform uppercase
					text-decoration none
					display block
					padding .5em

			.current, li:hover
				color #ebe9e9
	#redes
		margin 20px auto
		text-align center
		display block


		ul 
			li 
				display inline-block
				margin-right 1em

				.icon-facebook, .icon-twitter
					color #fff
					font-size 1.5em
					padding 0.4em
					text-decoration none
				.icon-facebook
					background $azul
				.icon-twitter
					background $celeste
	
	#copyright
		margin 20px auto
		text-align center
		display block
		font-size 12px
		color #c3c3c3	


.b2jcontainer h2
	background $verde	



@import "responsive.styl"
					

				